{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Free Stock Photos, Royalty Free Stock Images & Copyright Free Pictures ·
      Pexels
    </title>
    <link rel="icon" href="{% static 'assets/favicon.ico' %}" />
    <link rel="stylesheet" href="{% static 'style/main.css' %}" />
  </head>
  <body>
    <section>
      <div class="hero-image">
        <div class="nav1" id="nav1">
          <img id="logo" src="{%  static 'assets/logo.png' %}" alt="" />
          <button class="join-button1">Join</button>
        </div>
        <div class="nav" id="nav" style="display: none">
          <img id="logo" src="{%  static 'assets/logo.png' %}" alt="" />
          <button class="join-button">Join</button>
        </div>
      </div>
    </section>

    <section class="grid-container">
      <div class="image">
        <img src="{% static 'assets/image1.jpg' %}" alt="" />
      </div>
      <div class="image">
        <img src="{% static 'assets/image1.jpg' %}" alt="" />
      </div>
      <div class="image">
        <img src="{% static 'assets/image1.jpg' %}" alt="" />
      </div>
      <div class="image">
        <img src="{% static 'assets/image1.jpg' %}" alt="" />
      </div>
    </section>
  </body>
  <script>
    window.onscroll = function () {
      var currentScrollPos = window.pageYOffset;
      if (currentScrollPos > 50) {
        document.getElementById('nav').style.display = 'block';
      } else {
        document.getElementById('nav').style.display = 'none';
      }
    };
  </script>
</html>
